# --- Backend ---
backend/RAG312/
**/__pycache__/
*.pyc
backend/.env
backend/qdrant_storage/
backend/sample_data/
backend/logs/
backend/testimonials

# --- Database ---
*.db
*.sqlite3

# --- Frontend ---
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.DS_Store